.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-size: 1rem; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-icon-1 {height: 39px; width: 39px; margin: 173px auto 0 25px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 114px}
.u-section-1 .u-text-1 {width: 235px; font-size: 0.875rem; margin-top: 8px; margin-bottom: 0}
.u-section-1 .u-icon-1 {height: 45px; width: 45px; margin-top: 8px; margin-left: auto; margin-bottom: 8px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {font-size: 1rem; margin: -391px 25px 60px}
.u-section-2 .u-text-2 {font-size: 1.25rem; font-weight: 700; width: auto; margin: -36px auto 60px 40px} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {margin-top: -847px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 292px}
.u-section-2 .u-shape-1 {width: 310px; height: 46px; margin: 38px auto 0}
.u-section-2 .u-text-1 {font-size: 0.875rem; margin-top: 16px; margin-bottom: 0}
.u-section-2 .u-text-2 {margin-top: -231px; margin-left: 62px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {font-size: 1rem; margin: -391px 25px 60px}
.u-section-3 .u-text-2 {font-size: 1.25rem; font-weight: 700; width: auto; margin: -36px auto 60px 40px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-top: -847px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 275px}
.u-section-3 .u-shape-1 {width: 310px; height: 46px; margin: 29px auto 0}
.u-section-3 .u-text-1 {font-size: 0.875rem; margin-top: 15px; margin-bottom: 0}
.u-section-3 .u-text-2 {margin-top: -230px; margin-left: 72px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {font-size: 1rem; margin: -391px 25px 60px}
.u-section-4 .u-text-2 {font-size: 1.25rem; font-weight: 700; width: auto; margin: -36px auto 60px 40px} 

@media (max-width: 1199px){ .u-section-4 .u-text-2 {margin-top: -847px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 330px}
.u-section-4 .u-shape-1 {width: 310px; height: 46px; margin: 51px auto 0}
.u-section-4 .u-text-1 {font-size: 0.875rem; margin-top: 13px; margin-bottom: 0}
.u-section-4 .u-text-2 {margin-top: -250px; margin-left: 27px; margin-right: 27px} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0; font-size: 2.25rem; font-weight: normal; font-style: normal}
.u-section-5 .u-text-2 {font-size: 1rem} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 70px}
.u-section-5 .u-shape-1 {height: 65px; margin-top: 0; margin-bottom: 0}
.u-section-5 .u-text-1 {font-size: 1.25rem; width: auto; font-weight: 700; font-style: italic; animation-duration: 1000ms; margin-top: -51px; margin-left: auto; margin-right: auto}
.u-section-5 .u-text-2 {font-size: 0.75rem; margin: 0 15px}
.u-section-5 .u-line-1 {width: 150px; height: 1px; margin: -64px auto 64px} }.u-section-6 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 50px}
.u-section-6 .u-text-1 {width: 225px; margin: 20px auto 0}
.u-section-6 .u-icon-1 {height: 30px; width: 30px; margin: -30px auto 0 28px}
.u-section-6 .u-icon-2 {height: 30px; width: 30px; margin: -30px 28px 0 auto} }.u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto 0}
.u-section-7 .u-text-1 {margin: 30px auto 0}
.u-section-7 .u-shape-1 {width: 570px; height: 228px; margin: 30px auto 60px}
.u-section-7 .u-text-2 {font-weight: normal; font-size: 1rem}
.u-section-7 .u-text-3 {font-size: 1rem} 

@media (max-width: 767px){ .u-section-7 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-7 {margin-top: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 328px}
.u-section-7 .u-custom-html-1 {min-height: 247px; height: auto; margin-top: 20px; margin-right: 210px; margin-left: 9px}
.u-section-7 .u-text-1 {width: auto; margin-top: 0; margin-left: 15px}
.u-section-7 .u-shape-1 {width: 182px; height: 117px; margin-top: -220px; margin-right: 9px; margin-bottom: 0}
.u-section-7 .u-text-2 {width: auto; font-weight: 700; font-size: 0.875rem; margin: -107px 47px 0 auto}
.u-section-7 .u-text-3 {font-size: 0.875rem; width: auto; margin: 15px 47px 60px 187px} }.u-section-8 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-8 {margin-top: 0; margin-bottom: 0}
.u-section-8 .u-sheet-1 {min-height: 43px}
.u-section-8 .u-text-1 {width: 247px; margin: 6px auto 0}
.u-section-8 .u-icon-1 {height: 29px; width: 29px; margin: -27px auto 0 18px}
.u-section-8 .u-icon-2 {height: 29px; width: 29px; margin: -27px 18px 4px auto} }.u-section-9 .u-sheet-1 {min-height: 500px}
.u-section-9 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto 0}
.u-section-9 .u-text-1 {margin: 30px auto 0}
.u-section-9 .u-shape-1 {width: 570px; height: 228px; margin: 30px auto 60px}
.u-section-9 .u-text-2 {font-weight: normal; font-size: 1rem}
.u-section-9 .u-text-3 {font-size: 1rem} 

@media (max-width: 767px){ .u-section-9 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-9 {margin-top: 0; margin-bottom: 0}
.u-section-9 .u-sheet-1 {min-height: 328px}
.u-section-9 .u-custom-html-1 {min-height: 247px; height: auto; margin-top: 20px; margin-right: 210px; margin-left: 9px}
.u-section-9 .u-text-1 {width: auto; margin-top: 0; margin-left: 15px}
.u-section-9 .u-shape-1 {width: 182px; height: 117px; margin-top: -220px; margin-right: 9px; margin-bottom: 0}
.u-section-9 .u-text-2 {width: auto; font-weight: 700; font-size: 0.875rem; margin: -107px 47px 0 auto}
.u-section-9 .u-text-3 {font-size: 0.875rem; width: auto; margin: 15px 47px 60px 187px} }.u-section-10 .u-sheet-1 {min-height: 500px}
.u-section-10 .u-icon-1 {background-image: none} 

@media (max-width: 575px){ .u-section-10 {margin-top: 0; margin-bottom: 0}
.u-section-10 .u-sheet-1 {min-height: 41px}
.u-section-10 .u-icon-1 {height: 40px; width: 40px; margin: 1px auto} }.u-section-11 .u-sheet-1 {min-height: 500px}
.u-section-11 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto 0}
.u-section-11 .u-text-1 {margin: 30px auto 0}
.u-section-11 .u-shape-1 {width: 570px; height: 228px; margin: 30px auto 60px}
.u-section-11 .u-text-2 {font-weight: normal; font-size: 1rem}
.u-section-11 .u-text-3 {font-size: 1rem} 

@media (max-width: 767px){ .u-section-11 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-11 {margin-top: 0; margin-bottom: 0}
.u-section-11 .u-sheet-1 {min-height: 328px}
.u-section-11 .u-custom-html-1 {min-height: 247px; height: auto; margin-top: 20px; margin-right: 210px; margin-left: 9px}
.u-section-11 .u-text-1 {width: auto; margin-top: 0; margin-left: 15px}
.u-section-11 .u-shape-1 {width: 182px; height: 143px; margin-top: -220px; margin-right: 9px; margin-bottom: 0}
.u-section-11 .u-text-2 {width: auto; font-weight: 700; font-size: 0.875rem; margin: -133px 47px 0 auto}
.u-section-11 .u-text-3 {font-size: 0.875rem; width: auto; margin: 36px 47px 60px 187px} }